{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}Sign In{% endblock %}
{% block content %}


<div class="container">
    <div class="row justify-content-center align-content-center my-5">
        <div class="col-md-5">
            <h2 class="h3 mb-3 text-black">Sign in</h2>
            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-primary btn-block" value="Sign in">
                    </form>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a href="{% url 'account_reset_password' %}">Forgot
                                password?</a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="{% url 'signup:customer-sign-up' %}">Create new account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}