{% load static %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} p-2 fade show" role="alert">
    <span class="alert-inner--text">{{ message }}</span>
</div>
{% endfor %}
{% endif %}

<script src=" {% static 'js/jquery-3.5.1.min.js' %} "></script>
<script>
    $(document).ready(function () {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    });
</script>