{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}Sign Up Vendor{% endblock %}
{% block content %}


<div class="container">
    <div class="row justify-content-center h-100 py-5">
        <div class="col-md-6 my-auto">
            <h2 class="h3 mb-3 text-black">Sign Up - Vendor</h2>
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" action="{% url 'signup:staff-sign-up' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />

                        {% endif %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-primary btn-block" value="Sign up">
                    </form>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a href="{% url 'account_login' %}">Already have an
                                account?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}