<footer class="footer">
    <div class="container-fluid">
        <div class="d-flex text-muted">
            <div class="ml-auto">
                <p class="mb-0">
                    <a href=" {% url 'staff:dashboard' %} " class="text-muted card-link"><strong>SIUSADA</strong></a>
                    &copy;
                    <strong>
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                    </strong>
                </p>
            </div>
        </div>
    </div>
</footer>