{% extends 'dashboard/base.html' %}

{% load static %}

{% block content %}



<div class="wrapper">
	{% include 'dashboard/sidebar.html' %}
	<div class="main">
		{% include 'dashboard/navbar.html' %}
		<main class="content">
			<div class="container-fluid p-0">
				<div class="row">
					<h1 class="h3 mb-3">Orders</h1>
					<div class="w-100">
						<div class="card">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>Reference No.</th>
											<th>Date</th>
											<th>Customer</th>
											<th>Amount</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										{% for orderx in object_list %}
										<tr>
											<td>
												<a class="card-link" href="{% url 'staff:order-detail' orderx.pk %}">
													#{{orderx.reference_number}}
												</a>
											</td>
											<td>{{ orderx.checkout_date }}</td>
											<td>{{ orderx.user.email }}</td>
											<td>Rp {{orderx.totalpay}} </td>
											<td> {% if orderx.status == False %}Unconfirmed {% else %} Confirmed
												{% endif %} </td>
										</tr>
										{% empty %}
										<tr>
											<td colspan="4">
												You don't have any order yet
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							<hr>
							<nav class="ml-auto" aria-label="Page navigation example">
								<ul class="pagination p-3">
									{% if page_obj.has_previous %}
									<li class="page-item"><a class="page-link"
											href="?page={{ page_obj.previous_page_number }}">Previous</a>
									</li>
									<li class="page-item"><a class="page-link" href="?page=1">First</a></li>
									{% endif %}

									{%for i in paginator.page_range%}

									<li class="page-item {% if page_obj.number == i %}active{% endif %}">
										<a class="page-link" href="?page={{i}}">{{i}}</a>
									</li>
									{%endfor%}

									{% if page_obj.has_next %}
									<li class="page-item"><a class="page-link"
											href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">Next</a>
									</li>
									<li class="page-item"><a class="page-link"
											href="?{{ request.GET.urlencode }}&page={{ page_obj.paginator.num_pages }}">Last</a>
									</li>
									{% endif %}
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</main>
		{% include 'dashboard/footer.html' %}
	</div>
</div>


<script src=" {% static 'dashboard/js/app.js' %} "></script>

{% endblock content %}